#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.3-beta
Name=Round Square AGM 2015 Staff Console
Type=Application
Icon=~/.RSAGM2015/StaffConsoleFirefox/assets/icon.png
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Terminal=true
Exec=bash -c ~/.RSAGM2015/StaffConsoleFirefox/start.sh
StartupWMClass=RSAGM2015StaffConsoleFirefox
